@import "./layout.scss";

@mixin btn($fontsize:28px,$color:#fff,$bgcolor:#363636,$padding:0px) {
  padding:$padding;
  font-size: $fontsize;
  color: $color;
  background: $bgcolor;
  display: inline-block;
  line-height:90px;
  text-align: center;
  width: 500px;
  height: 90px;
  border:$bgcolor;
  box-sizing: border-box;
}

@mixin list($direction:colnum) {
  @include flex($direction);
}

@mixin panel($fontsize:28px,$color:#fff,$bgcolor:#e5e5e5,$padding:0 0 4px 0,$margin:0,$linewidth:320px,$iconcolor:#fff) {
  background: $bgcolor;
  padding: $padding;
  margin: $margin;
  >h4{
    font-size: $fontsize;
    color: $color;
    position: relative;
    padding-left: 30px;
    margin-left: 70px;
    &:before{
      content:'';
      width:10px;
      height:30px;
      background: $iconcolor;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:after{
      content:'';
      width:$linewidth;
      background: $iconcolor;
      position: absolute;
      top: 14px;
      right:70px;
      height: 1px;
    }
  }
  select{
    background: #fff;
  }
}
